/* Write your code here. */
.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 9px;
  margin: 8px;
  height: auto;
  width: auto;
  padding: 40px;
}

.image {
  height: 50px;
  width: 50px;
}
.button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0px;
}
