/* Write your code here. */
.appContainer {
  display: flex;
  flex-direction: column;
  background-color: #9796f0;
  min-height: 100vh;
  height: auto;
  width: 100%;
}
.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listContainer {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 50%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .listContainer {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .listContainer {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .listContainer {
    width: 50%;
  }
}
